.ffe-sc {
  background-color: var(--ffe-paper-color);
}

.ffe-sc-header {
  border-bottom: 1px solid var(--ffe-divider-color);
  padding-bottom: 8px;
  margin-bottom: 8px;
}

.ffe-sc-title {
  color: var(--ffe-on-paper-color) !important;
  font-size: 1.8em;

  &:hover {
    border-bottom: 0;
    text-decoration: underline;
  }
}


.ffe-sc-by {
  color: var(--ffe-on-paper-color);
  padding: 0 0.5em;
}

.ffe-sc-author {
  color: var(--ffe-link-color) !important;
}

.ffe-sc-mark {
  float: right;


  & > * {
    margin-right: 4px;
  }
}

.ffe-sc-alert:hover,
.ffe-sc-alert.ffe-active {
  color: var(--ffe-alert-color);
}

.ffe-sc-favorite:hover,
.ffe-sc-favorite.ffe-active {
  color: var(--ffe-favorite-color);
}

.ffe-sc-follow-count {
  color: var(--ffe-on-button-color);
  font-weight: bolder;
  margin-left: 0.4em;
}

.ffe-sc-download-button {
  display: inline-flex;
  gap: 0.5rem;
}

.ffe-sc-tags {
  border-bottom: 1px solid var(--ffe-divider-color);
  display: flex;
  flex-wrap: wrap;
  line-height: 2em;
  margin-bottom: 8px;
}

.ffe-sc-tag {
  border: 1px solid var(--ffe-weak-divider-color);
  border-radius: 4px;
  color: var(--ffe-on-paper-color);
  line-height: 16px;
  margin-bottom: 8px;
  margin-right: 5px;
  padding: 3px 8px;

  a {
    color: var(--ffe-link-color);
  }
}

.ffe-sc-tag-language {
  background-color: var(--ffe-language-tag-color);
  color: var(--ffe-on-language-tag-color);
}

.ffe-sc-tag-universe {
  background-color: var(--ffe-universe-tag-color);
  color: var(--ffe-on-universe-tag-color);
}

.ffe-sc-tag-genre {
  background-color: var(--ffe-genre-tag-color);
  color: var(--ffe-on-genre-tag-color);
}

.ffe-sc-tag.ffe-sc-tag-character,
.ffe-sc-tag.ffe-sc-tag-ship {
  background-color: var(--ffe-character-tag-color);
  color: var(--ffe-on-character-tag-color);
}

.ffe-sc-tag-ship .ffe-sc-tag-character:not(:first-child):before {
  content: " + ";
}

.ffe-sc-image {
  float: left;
  border: 1px solid var(--ffe-divider-color);
  border-radius: 3px;
  padding: 3px;
  margin-right: 8px;
  margin-bottom: 8px;
}

.ffe-sc-description {
  color: var(--ffe-on-paper-color);
  font-family: "Open Sans", sans-serif;
  font-size: 1.1em;
  line-height: 1.4em;
}

.ffe-sc-footer {
  clear: left;
  background: var(--ffe-panel-color);
  border-bottom: 1px solid var(--ffe-divider-color);
  border-top: 1px solid var(--ffe-divider-color);
  color: var(--ffe-on-panel-color);
  font-size: 0.9em;
  margin-left: -0.5em;
  margin-right: -0.5em;
  margin-top: 1em;
  padding: 10px 0.5em;
}

.ffe-sc-footer-info {
  background: var(--ffe-paper-color);
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--ffe-on-paper-color);
  line-height: 16px;
  margin-top: -5px;
  margin-right: 5px;
  padding: 3px 8px;
}

.ffe-sc-footer-incomplete {
  background: var(--ffe-incomplete-tag-color);
  color: var(--ffe-on-incomplete-tag-color);
}

.ffe-sc-footer-complete {
  background: var(--ffe-complete-tag-color);
  color: var(--ffe-on-complete-tag-color);
}

.ffe-sc-footer-words {
  color: var(--ffe-on-panel-color);
  float: right;
}
