.ffe-cl-container {
	margin-bottom: 50px;
	padding: 20px;
}

.ffe-cl ol {
	border-top: 1px solid #cdcdcd;
	list-style-type: none;
	margin: 0;
}

.ffe-cl-chapter {
	background-color: #f6f7ee;
	border-bottom: 1px solid #cdcdcd;
	font-size: 1.1em;
	line-height: 2em;
	padding: 4px 20px;
}
