.ffe-cl-container {
	margin-bottom: 50px;
	padding: 20px;
}

.ffe-cl ol {
	border-top: 1px solid #cdcdcd;
	list-style-type: none;
	margin: 0;
}

.ffe-cl-chapter {
	background-color: #f6f7ee;
	border-bottom: 1px solid #cdcdcd;
	font-size: 1.1em;
	line-height: 2em;
	padding: 4px 20px;
}

.ffe-cl-read {
	align-items: center;
	display: flex;
	flex-flow: column;
	float: left;
	height: 2em;
	justify-content: center;
	margin-right: 18px;
}

.ffe-cl-read label {
	background-color: #bbb;
	border-radius: 4px;
	height: 16px;
	width: 16px;
}

.ffe-cl-read label:hover {
	background-color: #888;
}

.ffe-cl-read input:checked ~ label {
	background-color: #0f37a0;
}

.ffe-cl-read input:checked ~ label:before {
	color: white;
	content: "✓";
	display: block;
	font-size: 1.2em;
	margin-top: -3px;
	padding-right: 2px;
	text-align: right;
}

.ffe-cl-read input {
	display: none;
}
