.ffe-mb-separator:before {
  content: " | ";
}

.ffe-mb-checked:before {
  background: green;
  border-radius: 50%;
  bottom: 2px;
  color: #fff;
  content: "✓";
  font-size: 9px;
  height: 12px;
  line-height: 12px;
  position: absolute;
  right: -2px;
  width: 12px;
}

.ffe-mb-icon {
  display: inline-block;
  line-height: 2em;
  margin-top: -.5em;
  text-align: center;
  width: 2em;
}

.ffe-mb-icon:hover {
  border-bottom: 0;
  color: orange !important;
}

.ffe-mb-bell svg {
  fill: currentColor;
  height: 19px;
  transform: translateY(4px);
}

.ffe-mb-dropbox {
  transform: translateY(3px);
}

.ffe-mb-dropbox:hover .st0 {
  fill: orange;
}
