.ffe-story-list {
	list-style: none;
	margin: 0 auto;
}

.ffe-story-item {
	margin: 10px 0;
}

.ffe-story-item .ffe-sc {
	background-color: #fff;
	border: 1px solid #d4d4d4;
	padding: 5px .5em;
}

.ffe-story-item .ffe-sc-footer {
	margin-top: 1em;
}
