.ffe-rating {
  background: gray;
  padding: 3px 5px;
  color: #fff !important;
  border: 1px solid var(--ffe-weak-divider-color);
  text-shadow: -1px -1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin-right: 5px;
  vertical-align: 2px;
}

.ffe-rating:hover {
  border-bottom-color: transparent;
}

.ffe-rating-k,
.ffe-rating-kp {
  background: var(--ffe-rating-k-color);
}

.ffe-rating-t,
.ffe-rating-m {
  background: var(--ffe-rating-t-color);
}

.ffe-rating-ma {
  background: var(--ffe-rating-m-color);
}
