.rating {
  background: gray;
  padding: 3px 5px;
  color: #fff !important;
  border: 1px solid var(--ffe-weak-divider-color);
  text-shadow: -1px -1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin-right: 5px;
  vertical-align: 2px;

  &:hover {
    border-bottom-color: transparent;
  }
}

.rating-k,
.rating-kp {
  background: var(--ffe-rating-k-color);
}

.rating-t,
.rating-m {
  background: var(--ffe-rating-t-color);
}

.rating-ma {
  background: var(--ffe-rating-m-color);
}
