.container {
  margin-bottom: 50px;
  padding: 20px;
}

.list {
  border-top: 1px solid var(--ffe-divider-color);
  list-style-type: none;
  margin: 0;
}

.chapter {
  background-color: var(--ffe-panel-color);
  border-bottom: 1px solid var(--ffe-divider-color);
  font-size: 1.1em;
  line-height: 2em;
  padding: 4px 20px;

  a {
    color: var(--ffe-on-panel-link-color) !important;
  }
}

.words {
  color: var(--ffe-on-panel-color);
  float: right;
  font-size: 0.9em;
}

.estimate {
  color: var(--ffe-on-panel-color-faint);

  &:before {
    content: "~";
  }
}

.collapsed {
  text-align: center;

  a {
    cursor: pointer;
  }
}
