.separator:before {
  content: " | ";
}

.checked {
  position: relative;

  &:after {
    background: green;
    border-radius: 50%;
    bottom: 2px;
    color: #fff;
    content: "✓";
    font-size: 9px;
    height: 12px;
    line-height: 12px;
    position: absolute;
    right: -2px;
    width: 12px;
  }
}

.icon {
  display: inline-block;
  line-height: 2em;
  margin-top: -0.5em;
  text-align: center;
  width: 2em;

  &:hover {
    border-bottom: 0;
    color: orange !important;
  }
}

.bell svg {
  fill: currentColor;
  height: 19px;
  transform: translateY(4px);
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotate:before {
  animation: rotate 1s linear infinite;
}
