.progress {
  visibility: hidden;
  position: absolute;
}

.circle-background {
  fill: none;
  stroke: var(--ffe-on-button-color-faint);
}

.circle-foreground {
  transform: rotate(-90deg);
  fill: none;
  stroke: var(--ffe-primary-color);
}
