.checkbox {
  align-items: center;
  display: flex;
  flex-flow: column;
  float: left;
  height: 2em;
  justify-content: center;
  margin-right: 18px;

  label {
    background-color: #bbb;
    border-radius: 4px;
    height: 16px;
    width: 16px;

    &:hover {
      background-color: #888;
    }
  }

  input:checked ~ label {
    background-color: var(--ffe-link-color);

    &:before {
      color: white;
      content: "✓";
      display: block;
      font-size: 1.2em;
      margin-top: -3px;
      padding-right: 2px;
      text-align: right;
    }
  }

  & input {
    display: none;
  }
}

