a, a:link, a:active, a:visited {
  color: var(--ffe-link-color);
}

.zui a {
  color: var(--ffe-on-panel-color);
}

html ul.topnav li a {
  color: var(--ffe-on-paper-color);
}

html ul.topnav li.active a {
  color: #000;
}

body, .zmenu, .tcat {
  background-color: var(--ffe-panel-color) !important;
  border-color: var(--ffe-divider-color);
  color: var(--ffe-on-panel-color);
}

#content_parent {
  background-color: var(--ffe-background-color) !important;
}

#content_wrapper, .lc {
  background-color: var(--ffe-paper-color) !important;
  color: var(--ffe-on-paper-color);
}

#content_wrapper_inner {
  border-color: var(--ffe-divider-color);
}
