.ffe-story-list {
  list-style: none;
  margin: 0 auto;
}

.ffe-story-item {
  margin: 10px 0;
}

.ffe-story-item .ffe-sc {
  border: 1px solid var(--ffe-divider-color);
  padding: 5px 0.5em;
}

.ffe-story-item .ffe-sc-footer {
  margin-top: 1em;
}
