.ffe-sc-header {
	border-bottom: 1px solid #ddd;
	padding-bottom: 8px;
	margin-bottom: 8px;
}

.ffe-sc-title {
	color: #000 !important;
	font-size: 1.8em;
}

.ffe-sc-title:hover {
	border-bottom: 0;
	text-decoration: underline;
}

.ffe-sc-by {
	padding: 0 .5em;
}

.ffe-sc-mark {
	float: right;
}

.ffe-sc-follow:hover {
	color: #60cf23;
}

.ffe-sc-favorite:hover {
	color: #ffb400;
}

.ffe-sc-tags {
	border-bottom: 1px solid #ddd;
	line-height: 2em;
	margin-bottom: 8px;
	padding-bottom: 8px;
}

.ffe-sc-tag {
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	color: black;
	line-height: 16px;
	margin-right: 5px;
	padding: 3px 8px;
}

.ffe-sc-tag-language {
	background-color: #a151bd;
	color: white;
}

.ffe-sc-tag-genre {
	background-color: #4f91d6;
	color: white;
}

.ffe-sc-tag.ffe-sc-tag-character,
.ffe-sc-tag.ffe-sc-tag-ship {
	background-color: #23b974;
	color: white;
}

.ffe-sc-tag-ship .ffe-sc-tag-character:not(:first-child):before {
	content: " + ";
}

.ffe-sc-image {
	float: left;
	border: 1px solid #ddd;
	border-radius: 3px;
	padding: 3px;
	margin-right: 8px;
	margin-bottom: 8px;
}

.ffe-sc-description {
	color: #333;
	font-family: "Open Sans", sans-serif;
	font-size: 1.1em;
	line-height: 1.4em;
}

.ffe-sc-footer {
	clear: left;
	background: #f6f7ee;
	border-bottom: 1px solid #cdcdcd;
	border-top: 1px solid #cdcdcd;
	color: #555;
	font-size: .9em;
	margin-left: -.5em;
	margin-right: -.5em;
	margin-top: 1em;
	padding: 10px .5em;
}

.ffe-sc-footer-info {
	background: #fff;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	float: left;
	line-height: 16px;
	margin-top: -5px;
	margin-right: 5px;
	padding: 3px 8px;
}

.ffe-sc-footer-complete {
	background: #63bd40;
	color: #fff;
}

.ffe-sc-footer-incomplete {
	background: #f7a616;
	color: #fff;
}
